

.tree-node-container {
margin-bottom: 10px;
position: relative;
}

.tree-node-child .show-node-child{
    padding: 3px 20px;
    position: relative;
    border-left: 1px solid black; 
   
}

.tree-node-name {
    display: inline-block;
    word-wrap: normal;
    width: max-content;
    /* margin-bottom: 1px; */
}

.selected-node {
    background-color: var(--bs-secondary);
    color: white;
    padding: 3px 7px;
    border-radius: 10px;
}

#rename-input {
    outline: none;
    border-radius: 10px;
    border: 1px solid var(--bs-secondary);
    padding: 0px 10px;
    
}