:root {
  --nav-height: 100px;
  --body-height: calc(100vh - var(--nav-height));

}

.my-nav{
  height: var(--nav-height) !important;
}

#note-container {
  height: var(--body-height);
  width: 100%;
  display: flex;
    /* position: relative; */

}

#project-tree-column {
  padding: 10px;
  border-right: 2px solid var(--bs-border-color);
  height: 100%;
  overflow-y: scroll;
  resize: horizontal;
  flex: 0 0 auto;
  min-width: 25%;
  max-width: 50%;

}

#project-note-column {
  padding: 0px;
  margin: 0px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.note-open-button {
  background-color: inherit;
  border-radius: 11px;
  border: none;
  transition: ease-out 0.15s;
}


.note-open-button:hover{
  background-color: var(--bs-secondary);
  color: white;
}



input.search-form{
  padding-left: 40px;
  background-image: url(./assets/magnifying-glass.png);
  background-position: 10px 7.5px;
  background-size: 20px 20px;
  background-repeat: no-repeat; }


::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
  /* margin-block: 10px; */

}

::-webkit-scrollbar-track{
  /* margin-block: 10px; */
  margin: 5px 5px;
  
}

::-webkit-scrollbar-thumb{
  background-color: var(--bs-secondary);
  border-radius: 100vw;
  /* margin-block: 10px; */
}


#node-images-input::-webkit-scrollbar-thumb{
  background-color: var(--bs-light);
  /* margin-block: 10px; */
}