:root {
  --nav-height: 100px;
  --body-height: calc(100vh - var(--nav-height));

}

.my-nav{
  height: var(--nav-height) !important;
}

#note-container {
  height: var(--body-height);
  width: 100%;
  display: flex;
    /* position: relative; */

}

#project-tree-column {
  border: 2px solid var(--bs-border-color);
  height: 100%;
  overflow-y: scroll;
  resize: horizontal;
  flex: 0 0 auto;
  min-width: 20%;
  max-width: 50%;

}

#project-note-column {
  padding: 0px;
  margin: 0px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}




::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
  /* margin-block: 10px; */

}

::-webkit-scrollbar-track{
  /* margin-block: 10px; */
  margin: 5px 5px;
  
}

::-webkit-scrollbar-thumb{
  background-color: var(--bs-secondary);
  border-radius: 100vw;
  /* margin-block: 10px; */
}
